@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-transform-rtl {
  0% {
    transform: translate(100%);
  }
  80% {
    transform: translate(-10%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes header-animation {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
