.card {
  cursor: pointer;
  position: relative;
}

.card.halfsize {
  width: 720px;
  height: 405px;
}

.card.tertiarysize {
  width: 432px;
  height: 243px;
}

.card_img {
  width: inherit;
  height: inherit;
  border-radius: 1rem;
  display: block;
}

.card_overlay {
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: 500;
  top: 0;
}

.card_overlay.overlay_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.card_overlay.inaccessible {
  background: #0000007e;
  border-radius: 1rem;
}

.card_icon {
  width: 4rem;
  height: 4rem;
}

.card_notstarted_wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.card_label {
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem 0.2rem #00000080;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: break-spaces;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.card.halfsize .card_label {
  font-size: 30pt;
}

.card_overlay.notstarted:hover .card_popup {
  display: flex;
  animation: opacity 1s;
  gap: 0.5rem;
}

.card_popup > h3 {
  color: #fff200;
  font-weight: bold;
  text-align: center;
  font-size: 30pt;
}

.sp_card .card_popup > h3,
.card.tertiarysize .card_popup > h3 {
  font-size: 18pt;
}

.card_popup > p {
  text-align: center;
  font-size: 16pt;
}

.card_detail > p:first-child {
  font-size: 20pt;
  margin: 0.5rem;
  font-weight: bold;
  color: #fff200;
}

.card_detail > p:nth-child(2) {
  font-size: 14pt;
  color: #ed1c24;
}

@media screen and (max-width: 768px) {
  .card_img,
  .card_overlay.inaccessible,
  .card_popup {
    border-radius: 0.5rem !important;
  }

  .card_popup > h3 {
    font-size: 14pt;
  }

  .card_popup > p {
    font-size: 10pt;
  }

  .card.halfsize {
    height: 180px;
    width: 320px;
  }

  .card.tertiarysize {
    height: 90px;
    width: 160px;
  }

  .card_icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .card_overlay.overlay_icon {
    gap: 0.2rem;
  }

  .card_popup > p:first-child,
  .card_popup > p:not(p:first-child) {
    font-size: 8pt;
  }

  .sp_card .card_popup > h3,
  .card.tertiarysize .card_popup > h3 {
    font-size: 10pt;
  }

  .card.halfsize .card_label {
    font-size: 12pt;
  }
}

@media screen and (min-width: 1800px) {
  .card.halfsize {
    width: 720px !important;
    height: 420px !important;
  }

  .card.tertiarysize {
    width: 480px;
    height: 300px;
  }
}
