#carousel_banner {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#carousel_banner:hover .carousel_nav {
  display: flex;
}

#carousel_item_indicator {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0 2rem 0;
}

.carousel_nav {
  height: 12%;
  width: 12%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
  z-index: 1;
}

.carousel_nav.next {
  right: 0;
}

.carousel_nav.back {
  left: 0;
}

.indicators {
  height: 1rem;
  width: 1rem;
  display: block;
  background: #ffffff7a;
  border-radius: 50%;
  cursor: pointer;
}

.indicators.active {
  background: white;
}

.carousel_content {
  height: 607px;
  width: 1080px;
}

.carousel_content > img,
.carousel_content > video {
  border-radius: 1rem;
}

.carousel_content:not(.active) {
  display: none;
}

@media screen and (min-width: 1800px) {
  .carousel_content {
    height: 877.5px;
    width: 1560px;
  }
}

@media screen and (max-width: 768px) {
  .carousel_content {
    height: 180px;
    width: 320px;
  }

  #carousel_banner:hover .carousel_nav {
    display: none;
  }

  .indicators {
    height: 0.5rem;
    width: 0.5rem;
  }
}
