.coming_soon_wrapper {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 2rem;
}

.coming_soon_wrapper > .article > .child:first-child {
  font-size: 96px;
  color: #fff200;
}

.coming_soon_wrapper > .article > .child:nth-child(2) {
  font-size: 30px;
}

.coming_soon_wrapper > .article > .child {
  text-align: center;
  line-height: 85px;
}

.grid_content {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .coming_soon_wrapper .logo {
    width: 237px;
    height: 57px;
  }

  .coming_soon_wrapper > .article > .child:first-child {
    font-size: 36px;
    color: #fff200;
  }

  .coming_soon_wrapper > .article > .child:nth-child(2) {
    font-size: 15px;
    width: 272px;
  }

  .coming_soon_wrapper > .article > .child {
    line-height: unset;
  }

  #desktop_back {
    display: none;
  }
}
