.contacts_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 10%;
}

.contacts > h2 {
  font-size: 32pt;
  font-weight: bolder;
  color: #ed1c24;
}

.contacts > p {
  color: #fff200;
  font-size: 20pt;
}

@media screen and (max-width: 768px) {
  .contacts > h2 {
    font-size: 19pt;
  }

  .contacts > p {
    color: #fff200;
    font-size: 8pt;
  }
}
