#cookie_consent {
  bottom: 6rem;
  position: fixed;
  right: 1rem;
}

.cookie_wrapper {
  width: 360px;
  padding: 1rem;
  background: black;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
  position: relative;
}

.cookie_child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cookie_child:first-child > p {
  width: 80%;
  font-size: 12px;
}

.cookie_btn {
  width: 45%;
  padding: 0.5rem;
}

.cookie_btn.unconfirmed {
  background: #8f8f8f;
}

.cookie_btn.confirmed {
  background: #0079ff;
}

.close_cookie {
  position: absolute;
  right: -5px;
  width: 1.5rem;
  height: 1.5rem;
  top: -5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #cookie_consent {
    bottom: 3.5rem;
    right: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .cookie_wrapper {
    width: 320px;
    border-radius: 0.5rem;
  }
}
