footer {
  z-index: 10;
}

footer > section:first-child {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer > section:first-child > ul {
  display: flex;
}

footer > section:first-child > ul li {
  width: 12rem;
  text-align: center;
}

footer > section:first-child > ul li:hover {
  color: #fff200;
  font-weight: bold;
  cursor: pointer;
}

footer > section:nth-child(2) {
  height: 5rem;
  background: black;
  width: 100%;
}

#smoking_warning > p {
  text-align: center;
}

#smoking_warning {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background: black;
}

@media screen and (max-width: 768px) {
  footer > section {
    height: 3rem !important;
  }

  footer > section:first-child {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer > section:first-child > ul {
    gap: 1rem;
  }

  footer > section:first-child > ul li {
    width: fit-content;
    width: -moz-fit-content;
    text-align: left;
    font-size: 8pt;
  }

  #smoking_warning {
    height: 3rem;
  }

  #smoking_warning > p {
    font-size: 6pt;
    padding: 0 0.5rem;
    width: 200px;
  }

  #smoking_warning img {
    height: 2rem !important;
  }
}
