.header > nav > ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

.header > nav > ul li > a {
  padding: 0.5rem;
  text-align: center;
  margin: 0 0.2rem;
  font-size: 21pt;
}

.header > nav > ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header > nav > ul li a.active + span {
  border-bottom: 3px solid #fff200;
  width: 25%;
  display: block;
}

.header > nav > ul li a.active:hover + span,
.header > nav > ul li a:hover {
  color: #d0021b;
  border-color: #d0021b;
}

@media screen and (max-width: 768px) {
  .header > nav > ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .nav_logo {
    display: none !important;
  }

  .header > nav > ul li > a {
    padding: 0.5rem 0;
    margin: 0;
    font-size: 12pt;
  }

  .header > nav > ul li a.active + span {
    width: 50px;
  }
}
