#highlight_banner {
  margin: 0 auto;
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
}

.highlight_img {
  height: 607.5px;
  border-radius: 1rem 1rem 0 0;
  width: 1080px;
}

.highlight_showtime {
  padding: 1rem;
  text-align: center;
  background-color: #4a4a4a;
}

.highlight_showtime > p {
  width: calc(1080px - 2rem);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 24px;
}

.highlight_overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlight_overlay > label:first-child {
  font-size: 66pt;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 0.5rem 0.5rem 0.5rem #464646;
}

.highlight_overlay > label:nth-child(3) {
  font-size: 36pt;
  margin-top: 1rem;
  text-shadow: 0.5rem 0.5rem 0.5rem #464646;
}

@media screen and (min-width: 1800px) {
  .highlight_img {
    height: 877, 50px;
    width: 1560px;
  }

  .highlight_showtime > p {
    width: calc(1560px - 2rem);
  }
}

@media screen and (max-width: 768px) {
  .highlight_img {
    height: 160px;
    width: 320px;
  }

  .highlight_showtime {
    font-size: 8pt;
    padding: 0.5rem;
  }

  .highlight_overlay > label:nth-child(odd) {
    text-shadow: 0.2rem 0.2rem 0.2rem #464646;
  }

  .highlight_overlay > label:first-child {
    font-size: 20pt;
    margin-bottom: 0.2rem;
  }

  .highlight_overlay > label:nth-child(3) {
    font-size: 10pt;
    margin-top: 0.2rem;
  }

  .highlight_showtime > p {
    width: calc(320px - 1rem);
    font-size: 12px;
  }
}
