@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
@import url("animations.css");
@import url("performances.css");
@import url("player.css");
@import url("login_privy.css");
@import url("carousel.css");
@import url("card.css");
@import url("highlight_performance.css");
@import url("ordinary_performances.css");
@import url("schedule.css");
@import url("loader.css");
@import url("special_performances.css");
@import url("header.css");
@import url("cookie_consent.css");
@import url("datepicker.css");
@import url("coming_soon.css");
@import url("footer.css");
@import url("animated_texts.css");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: saphiro-nrm, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
label,
a {
  font-family: gopher, sans-serif;
}

.txt-bold {
  font-family: saphiro-hvy, sans-serif;
}

ul li {
  list-style: none;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  background: none;
  border: none;
}

select:invalid {
  color: grey !important;
}

input,
select,
option {
  color: black;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  appearance: none;
}

body {
  min-height: 100vh;
  background: #1f1f1f;
  height: fit-content;
  width: -moz-fit-content;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.bg_red {
  background: #ed1c24;
}

.bg_blue {
  background: #033184;
}

.link_btn {
  background-color: #ed1c24;
  width: fit-content;
  width: -moz-fit-content;
  padding: 1rem 2rem;
  text-align: center;
  transition: background-color 1s, box-shadow 1s;
  box-shadow: 0 0 0 0 black;
  font-family: gopher, sans-serif;
}

.link_btn:hover,
.link_btn:active {
  background-color: #f94a51;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem #00000096;
}

.panels {
  padding-bottom: 5rem;
}

.panels > .link_btn {
  margin: 3rem auto 0 auto;
  display: block;
  width: 20rem;
}

.creators_park_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.creators_park_subtitle {
  font-size: 32px;
  color: #d8d8d8;
}

.creators_park_text {
  text-align: center;
  font-size: 26px;
  line-height: 3rem;
  width: 800px;
  color: #d8d8d8;
}

.section_title {
  color: #fff200;
  text-align: center;
  margin-bottom: 1rem;
}

.spirit_text {
  font-size: 70pt;
  text-align: center;
  color: #fff200;
}

.subsection_title {
  text-align: center;
  margin: 1rem;
  font-size: 18pt;
  color: #d8d8d8;
}

.subtitle {
  margin: 1rem;
}

.text_red {
  color: #ed1c24;
}

.text_xxl {
  font-size: 40pt;
}

.text_xl {
  font-size: 36pt;
}

.text_md {
  font-size: 20pt;
}

#header_content {
  margin-bottom: 1rem;
  height: 86px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header > nav {
  padding: 1rem;
}

.mobile_back {
  display: none;
}

.mobile_back {
  background: white;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: space-around;
  border-radius: 2rem 2rem 0 0;
  height: 4rem;
}

.mobile_back > a:first-child {
  float: left;
  position: absolute;
  left: 2rem;
}

.plain_back {
  display: flex;
  margin: 1rem;
  position: fixed;
  z-index: 1;
}

.nav_logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.collaboration_logo {
  width: 200px;
}

.iframe_soundre {
  height: 100%;
}

@media screen and (max-width: 768px) {
  #header_content {
    height: 136px;
  }

  .mobile_back {
    display: flex;
  }

  .spirit_text {
    font-size: 24pt;
  }

  .text_xxl {
    font-size: 24pt;
  }

  nav {
    width: 100%;
    background: #1f1f1f;
  }

  .text_xl {
    font-size: 16pt;
  }

  .text_lg,
  .text_md {
    font-size: 12pt;
  }

  .creators_park_banner {
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .creators_park_subtitle {
    font-size: 14px;
  }

  .creators_park_text {
    font-size: 14px;
    width: 265px;
    line-height: 1.5rem;
  }

  .subsection_title {
    font-size: 10pt;
  }

  .panels {
    padding-bottom: 2rem;
  }

  .panels > .link_btn {
    width: 10rem;
  }

  .collaboration_logo {
    width: 150px;
  }

  .pattern_img_desktop {
    display: none;
  }
}
