#loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: black;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#loader > img {
  width: 100px;
}

#loader > div {
  display: flex;
  gap: 1rem;
}

#loader span {
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: white;
}

#loader > div span.growing {
  animation: grow 1s infinite;
}
