.modal_privy p,
.modal_privy label,
.modal_privy h3 {
  color: black;
}

.modal_privy > .modal_wrapper > header p {
  text-align: center;
  font-size: 12px;
}

.modal_privy input,
.modal_privy select {
  border: none;
}

.modal_privy {
  background: #000000e8;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_privy > .modal_wrapper {
  display: grid;
  width: 500px;
  gap: 1rem;
  background: white;
  border-radius: 1rem;
  padding: 2rem;
}

.modal_privy > .modal_wrapper > header,
.modal_privy > .modal_wrapper > main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_privy > .modal_wrapper > header {
  text-align: justify;
}

.modal_privy > .modal_wrapper > header > img {
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.modal_privy label,
.modal_privy input,
.modal_privy select,
.modal_privy p {
  font-weight: bold;
  background: transparent;
}

.modal_privy > .modal_wrapper > main {
  color: black;
  position: relative;
}

.modal_privy > .modal_wrapper > main > h3 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 16px;
}

.modal_privy form {
  display: grid;
  gap: 0.5rem;
  width: 300px;
}

.modal_privy footer > p {
  text-align: center;
  color: #434343;
  font-size: 10px;
}

.input_wrapper > label {
  font-weight: bold;
  margin-bottom: 0.2rem;
  display: block;
  font-size: 14px;
}

.input_field {
  border: 1px solid #979797;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input_field.focus:not(.invalid) {
  border: 2px solid #3182e4;
}

.input_field.invalid {
  border: 2px solid #d83d3d;
}

.input_field > input {
  width: 100%;
}

.input_field > select option:first-child() {
  color: grey;
}

.modal_privy form > .link_btn {
  width: 206px;
  margin: 0.5rem auto 0 auto;
}

.error_msg {
  color: #ed1c24;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 1.5rem;
  font-size: 10px;
}

@media screen and (max-width: 375px) {
  .modal_privy > .modal_wrapper {
    width: 270px !important;
    padding: 1rem !important;
  }

  .modal_privy > .modal_wrapper > header > img {
    width: 260px !important;
    height: 106px !important;
  }

  .input_field {
    height: 0.5rem;
  }

  .input_field > input {
    font-size: 10px !important;
  }

  .modal_privy form > .link_btn {
    width: 150px !important;
    padding: 0.5rem !important;
  }
}

@media screen and (max-width: 768px) {
  .modal_privy > .modal_wrapper {
    width: 320px;
  }

  .modal_privy > .modal_wrapper > header > img {
    width: 287px;
    height: 117px;
  }

  .modal_privy > .modal_wrapper > header p {
    font-size: 8px;
  }

  .modal_privy footer > p {
    font-size: 9px;
  }

  .modal_privy form {
    width: calc(100% - 2rem);
  }
}
