.ordinary_performances_wrapper {
  display: flex;
  gap: 0.5rem;
  overflow: auto;
  margin: 0 auto;
  padding: 0 10% 2rem 10%;
  width: fit-content;
  width: -moz-fit-content;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ordinary_performances_wrapper::-webkit-scrollbar {
  display: none;
}

.ordinary_performances {
  height: fit-content;
  height: -moz-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ordinary_performances > article p:first-child {
  color: #fff200;
  font-size: 20pt;
  margin: 0.5rem auto;
  width: calc(320px - 1rem);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: saphiro-hvy, sans-serif;
}

.ordinary_performances > article p:not(p:first-child) {
  font-size: 16pt;
  color: #ed1c24;
}

.ordinary_performances > article p {
  text-align: center;
}

@media screen and (min-width: 1800px) {
  .ordinary_performances > article p:first-child {
    width: calc(480px - 1rem);
  }
}

@media screen and (max-width: 768px) {
  .ordinary_performances_wrapper {
    margin: 0 auto;
    padding: 0;
  }

  .ordinary_performances > article p:first-child {
    width: calc(160px - 1rem);
    font-size: 10pt;
  }

  .ordinary_performances > article p:not(p:first-child) {
    font-size: 10pt;
  }
}
