.performances {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10% 0 10%;
  gap: 0.5rem;
}

.performance_banner {
  padding: 1rem 0;
  text-align: center;
}

.performances.centerize {
  justify-content: center;
  padding-bottom: 4rem;
}

.live_badge {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  background: #ed1c24;
  border-top-left-radius: 1rem;
}

.live_badge::after {
  content: "LIVE";
  font-size: 16pt;
  font-weight: bold;
}

.home_performances > section {
  padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .home_performances > section {
    padding-bottom: unset;
  }

  .performances.centerize {
    padding-bottom: unset;
  }

  .live_badge {
    padding: 0.2rem 0.5rem;
    border-top-left-radius: 0.5rem;
  }

  .live_badge::after {
    font-size: 10pt;
  }

  .performance_banner {
    padding: 0.5rem 0;
    font-size: 8pt;
  }
}
