.player_wrapper {
  display: grid;
  grid-template-columns: 720px auto;
  gap: 1.5rem;
  padding: 0 10% 0 10%;
}

.vid_player {
  position: relative;
  margin: 0 auto;
}

.vidplayer_img {
  width: 720px;
  height: 405px;
  border-radius: 1rem 1rem 0 0;
}

.vidplayer_banner {
  background: #2c2c2c;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 0;
  width: 720px;
  border-top: 0.4rem solid #ed1c24;
}

.vidplayer_banner > p:not(.vidplayer_deadline),
.vidplayer_banner > h2 {
  padding: 0 1rem;
  text-align: justify !important;
}

.vidplayer_banner > h2 {
  color: #fff200;
  font-weight: bold;
  font-size: 20pt;
}

.vidplayer_banner > p:nth-child(2) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 12pt;
}

.vidplayer_banner:hover > p:nth-child(2) {
  max-height: unset;
  display: block;
}

.vidplayer_deadline {
  font-size: 10pt;
  margin: 1rem 0 0 1rem;
}

.vidplayer_deadline.vod {
  background: #ed1c24;
  width: fit-content;
  width: -moz-fit-content;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
}

.vidplayer_deadline.live {
  color: #fff200;
}

.vidplayer_schtitle {
  text-align: left !important;
  color: #d8d8d8;
  margin-bottom: 1rem;
  font-size: 24px;
}

.vidplayer_schedule {
  height: 4rem;
  width: 100%;
  display: grid;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  cursor: pointer;
}

.vidplayer_schedule > .live {
  background: #ed1c24;
}

.vidplayer_schedule > .playing {
  background: #067f08;
}

.vidplayer_schedule > .live > .list_text > p:first-child {
  color: #fff200;
}

.vidplayer_listwrapper {
  padding-bottom: 1rem;
}

.schedule_icon {
  height: 100%;
  width: 2rem;
  position: absolute;
  right: 2rem;
}

@media screen and (max-width: 360px) {
  .vidplayer_img {
    width: 256px !important;
    height: 144px !important;
  }

  .vidplayer_banner {
    width: 256px !important;
  }
}

@media screen and (max-width: 768px) {
  .player_wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: unset;
    gap: 2rem;
  }

  .vidplayer_schtitle {
    font-size: 15pt;
  }

  .vidplayer_banner > h2 {
    font-size: 10pt;
  }

  .vidplayer_img {
    width: 304px;
    height: 171px;
  }

  .vidplayer_banner {
    width: 304px;
  }

  .vidplayer_deadline {
    font-size: 6pt;
  }

  .vidplayer_schedule {
    height: 2.5rem;
  }

  .vidplayer_banner > p:not(.vidplayer_deadline) {
    font-size: 8pt;
  }

  .schedule_icon {
    width: 1rem !important;
    right: 0.5rem;
  }
}

@media screen and (min-width: 1800px) {
  .player_wrapper {
    grid-template-columns: 1080px auto;
  }

  .vidplayer_img {
    width: 1080px;
    height: 607.5px;
  }

  .vidplayer_banner {
    width: 1080px;
  }
}
