.weekly_nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0 10% 0 10%;
  margin-bottom: 1rem;
  font-size: 27pt;
}

.weekly_nav ul li {
  text-align: center;
  cursor: pointer;
  color: #d8d8d8;
}

.weekly_nav ul li.active {
  font-weight: bold;
  color: #fff200;
}

.weekly_nav ul li.active span {
  width: 90px;
  display: block;
  margin: 0.5rem auto;
  border-bottom: 3px solid white;
}

.weekly_nav ul li.active::after {
  border-bottom: 3px solid #fff200;
}

.weekly_schedule {
  display: none;
}

.weekly_schedule.active {
  display: block;
  animation: slide-transform-rtl 0.5s;
}

.schedule_wrapper {
  padding: 0 10% 0 10%;
}

.trapezoid.expired {
  cursor: default;
}

.trapezoid.soon:hover .trapezoid_popup {
  display: flex;
}

.trapezoid.soon:hover .list_text {
  display: none;
}

.trapezoid_popup {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.trapezoid_popup_text {
  transform: skew(10deg);
}

.trapezoid_popup_text:first-child {
  color: #fff200;
}

.list_schedule {
  height: 6rem;
  display: grid;
  gap: 0.1rem;
  grid-template-columns: 9rem auto;
  margin-bottom: 0.5rem;
}

.trapezoid.playing,
.trapezoid.vod,
.trapezoid.live,
.masked_trapezoid {
  cursor: pointer;
}

.list_text {
  position: absolute;
  transform: skewX(10deg);
  height: 100%;
  width: 100%;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.2rem;
}

.list_text > h3 {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
  font-size: 18pt;
}

.trapezoid {
  transform: skewX(-10deg);
  position: relative;
  background: #4a4a4a;
}

@media screen and (max-width: 768px) {
  .weekly_nav ul {
    gap: 0.5rem;
  }

  .weekly_nav ul li.active span {
    width: 45px;
    /* margin-top: 0.5rem; */
    border-width: 3px;
  }

  .trapezoid_popup_text:first-child {
    font-size: 9pt;
  }

  .trapezoid_popup_text:nth-child(2) {
    font-size: 6pt;
  }

  .weekly_nav ul li {
    font-size: 8pt;
  }

  .list_schedule {
    height: 2.5rem;
    grid-template-columns: 4rem auto;
  }

  .list_text {
    padding-left: 0.5rem;
  }

  .list_text > h3 {
    font-size: 9pt;
  }

  .list_text > p {
    font-size: 6pt;
  }

  .masked_trapezoid {
    -webkit-mask-size: 4rem !important;
    mask-size: 4rem !important;
  }
}
