.special_performance {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 0.5rem;
}

.sp_card {
  cursor: pointer;
  position: relative;
  width: 540px;
  height: 303.5px;
}

@media screen and (max-width: 768px) {
  .sp_card {
    height: 90px;
    width: 160px;
  }

  .sp_card .card_label {
    font-size: 8pt;
  }
}
